#block_form_multiple {
    position: relative;

    left: 50vw;
    padding-top: 10vh;

    transform: translateX(-50%);
    text-align: center;
}

#mulitple label {
    font-size: 2rem;
}

.tables{
    width: 2rem;
    height: 2rem;

    margin-right: 1.5rem;
}

#buttonmultiple{
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

#groupe_tables {
    position: relative;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 2vh;
    padding-bottom: 5vh;
    left: -0.2vw;
}

#block_table {
    padding-bottom: 1vh;
}